<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        placeholder="Title"
        required
        minlength="5"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid"
        >Enter a title. Must have at least 5 characters</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="3"
        name="content"
        placeholder="Content"
        ngModel
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Content can not be empty!</mat-error>
    </mat-form-field>
    <button mat-raised-button color="warn">Post</button>
  </form>
</mat-card>
